[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
# Documentation.
Sphinx = "~=3.5"
sphinx-rtd-theme = '~=0.5'

# Tools.
twine = "~=3.4"
pre-commit = "~=2.12"

[packages]
atomicwrites = "~=1.4"
requests = "~=2.25"

[requires]
python_version = "3.9"
