[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
# Documentation.
Sphinx = "~=3.3"
sphinx-rtd-theme = '~=0.5'

# Tools.
twine = "~=3.2"
pre-commit = "~=2.9"

[packages]
atomicwrites = "~=1.4"
PyYAML = "~=5.3"
requests = "~=2.25"

[requires]
python_version = "3.9"
